################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/DataBlinding-13/.vs/DataBlinding-13/v14
/WPFPersonas/.vs/WPFPersonas/v14
/DI/BindingConElementos/.vs/BindingConElementos/v14
/DataBlinding-13MVVM/.vs/DataBlinding-13/v14
/BindingConCommands
/DataBlinding-13/DataBlinding-13
